<div id="navigation">
	<ul>
		<% if(keyword=='main' ) {%>
			<li class="selected"><a href="/admin/">메인페이지 관리</a></li>
			<li><a href="/admin/guestbook">방명록 관리</a></li>
			<li><a href="/admin/board">게시판 관리</a></li>
			<li><a href="/admin/user">사용자 관리</a></li>
			<% } %>
				<% if(keyword=='guestbook' ) {%>
					<li></li><a href="/admin/">메인페이지 관리</a></li>
					<li class="selected"><a href="/admin/guestbook">방명록 관리</a></li>
					<li><a href="/admin/board">게시판 관리</a></li>
					<li><a href="/admin/user">사용자 관리</a></li>
					<% } %>
						<% if(keyword=='board' ) {%>
							<li><a href="/admin/">메인페이지 관리</a></li>
							<li><a href="/admin/guestbook">방명록 관리</a></li>
							<li class="selected"> <a href="/admin/board">게시판 관리</a></li>
							<li><a href="/admin/user">사용자 관리</a></li>
							<% } %>
								<% if(keyword=='user' ) {%>
									<li><a href="/admin/">메인페이지 관리</a></li>
									<li><a href="/admin/guestbook">방명록 관리</a></li>
									<li><a href="/admin/board">게시판 관리</a></li>
									<li class="selected"><a href="/admin/user">사용자 관리</a></li>
									<% } %>
	</ul>
</div>
<div id="footer">&nbsp;</div>