html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.canvas-container {
  position: absolute;
  // background-color: gray;
  background-color: transparent;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;

  // &:hover {
  //   border: 5px solid blue;
  // }
}

.canvas {
  &.on {
    z-index: 1;
  }
}
.canvas_line {
  &.on {
    z-index: 1;
  }
}

.canvas_background {
  z-index: -1;
}
